.classpath
.project
.settings/

.DS_Store

log/
target/

#Netbeans#
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Package Files #
*.jar
*.war
*.ear

# Class Files #
*.class

# Gradle output #
build/
/Projekt/.nb-gradle/
/Projekt/.gradle/
.nb-gradle-properties